* {
    box-sizing: border-box;
  }

.formato-principal{
    width: 90%;
    margin:0px auto;
    padding:0px;
}

.boton-nav{
    width: 100%;
    height: 100%;   
}


.imagen{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;    
}
@media only screen and (max-width: 768px) {
    .imagen{
        width: 65%;
        height: 65%;
        max-width: 200px;
        max-height: 200px;
        
    }    
}

.seccion-info{
    width:100%;
    border-style: solid;
    border-color:#0D6EFD;
    border-width: 2px;
    margin:0px auto;
    padding: 0px;
}

.ajuste-row{
    margin-left: 0px;
    margin-right: 0px;
}

.tabla{
    width: 100%;
}

.celda-titulo{
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 0px;
    width: 50%;
    /*border-bottom-style: solid;
    border-bottom-color:#0D6EFD;
    border-bottom-width: 1px;*/
    background-color:#9F9F9F;
    
}
.celda-izq{
    text-align: right;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 50%;
}

.celda-der{
    text-align: left;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    width: 50%;
}

.ajuste-pos{
    margin: 0px;
    padding: 3px 0;
}